asgiref==3.6.0
black==23.1.0
cfgv==3.3.1
click==8.1.3
colorama==0.4.6
distlib==0.3.6
Django==4.1.7
djangorestframework==3.14.0
filelock==3.9.0
identify==2.5.18
mypy-extensions==1.0.0
nodeenv==1.7.0
packaging==23.0
pathspec==0.11.0
platformdirs==3.0.0
pre-commit==3.1.1
pytz==2022.7.1
PyYAML==6.0
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.20.0
